%body.index-bg
  .container
    .row.justify-content-center.align-items-center
      .index
        = search_form_for @search do |f|
          = f.label :name_cont, 'name of dish contains'
          = f.search_field :name_cont

        = search_form_for @search do |f|
          = f.label :user_nick_cont, "user's nick contains"
          = f.search_field :user_nick_cont

        %table{cellpadding: "7"}
          %tr.heading
            %td= sort_link(@search, :name, 'name of dish')
            %td= sort_link(@search, :created_at, 'created at')
            %td= sort_link(@search, :user_nick, "user's nick")

          - @dishes.each do |dish|
            %tr
              %td= link_to "#{dish.name}", dish_path(dish)
              %td= dish.created_at.strftime('%Y-%m-%d')
              %td= dish.user.nick
